*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: darkorchid;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7358718487394958) 0%, rgba(233, 233, 109, 0) 100%);
}
nav ul{
  display: flex;
  gap: 16px;
  list-style: none;
}
ul a{
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}
@media (max-width: 900px){
  header{
    display: none;
  }
}
